# Ignore environment files
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# VSCode
.vscode/

# Node
node_modules/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
